.enjoy-page {
  display: flex;
  align-items: center;
}

.enjoy-page .container {
  margin: 0 auto;
  overflow: unset;
}
.enjoy-page .container .content {
  margin-top: 0;
  overflow: unset;
}

.enjoy-page .container .content p {
  color: rgb(205, 78, 78);
  text-align: center;
  font-size: 14px;
}

.enjoy-page .container .content img {
  position: absolute;
  width: 200px;
  display: flex;
  top: 300%;
  left: 25%;
}
