.loading__bounce {
  animation: loading__bounce 6s linear;
}

@keyframes loading__bounce {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.plane-wrapper {
  width: 100%;
  height: 100%;
}

.plane-wrapper .plane-banner {
  position: absolute;
  width: 60%;
  display: flex;
  top: 45%;
  -webkit-animation: slide-plane 3s linear;
  animation: slide-plane 3s linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.top-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: #73cfec;
  z-index: 99;
  height: 50vh;
  transition: all 0.5s ease-in-out;
  -webkit-animation: slide-top-bg 3s linear;
  animation: slide-top-bg 3s linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  opacity: 0;
}

.open-top {
  transform: translate(100%);
}

.bottom-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #73cfec;
  z-index: 99;
  height: 50vh;
  -webkit-animation: slide-bottom-bg 3s linear;
  animation: slide-bottom-bg 3s linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  opacity: 0;
}

@-webkit-keyframes slide-top-bg {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes slide-top-bg {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
}

@-webkit-keyframes slide-bottom-bg {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes slide-bottom-bg {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(120%);
    transform: translateY(120%);
    opacity: 0;
  }
}

@-webkit-keyframes slide-plane {
  0% {
    opacity: 1;
    left: -60%;
  }
  100% {
    opacity: 0;
    left: 80%;
  }
}

@keyframes slide-plane {
  0% {
    opacity: 1;
    left: -60%;
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    opacity: 0;
    left: 80%;
    transform: rotate(15deg);
  }
}
